# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local Database & Cache
.data/
.wrangler/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars
.dev.vars.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
